{{- $isWork := contains "inatel" .chezmoi.hostname -}}
{{- $isPersonal := not $isWork -}}
{{- $isWsl := not (not (or (env "WSL_DISTRO_NAME") (env "IS_WSL"))) -}}

sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  {{- if $isWork }}
  email = "ednardo@inatel.br"
  name = "Edy Segura"
  {{- else }}
  email = "edysegura@gmail.com"
  name = "Edy Segura"
  {{- end }}
  is_personal = {{ $isPersonal }}
  is_work = {{ $isWork }}
  is_wsl = {{ $isWsl }}
